@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --border: 214.3 31.8% 91.4%;
  }
  
  * {
    border-color: hsl(var(--border));
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  #nprogress .bar {
    background: hsl(var(--primary));
    height: 3px;
  }

  #nprogress .peg {
    box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary));
  }
}

#nprogress .bar {
  background: hsl(var(--primary));
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary));
}

#nprogress .spinner-icon {
  border-top-color: hsl(var(--primary));
  border-left-color: hsl(var(--primary));
}

